BACKEND_URL=http://localhost:8000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>/<database>?retryWrites=true&w=majority
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
AUTH_SECRET=generate_a_strong_random_secret
AUTH_GOOGLE_ID=your_google_oauth_client_id
AUTH_GOOGLE_SECRET=your_google_oauth_client_secret
NEXT_PUBLIC_APP_URL=http://localhost:3003
PHOTOGRAPHER_EMAILS=photographer1@example.com,photographer2@example.com
NEXTAUTH_SECRET=generate_a_strong_random_secret
